<link rel="stylesheet" href="/static/style.css">

<div class="navbar">
    <h3>📞 Contact Us</h3>
    <div>
        <a href="/home">Home</a>
        <a href="/cart">Cart</a>
    </div>
</div>

<div class="contact-container">

    <img src="/static/images/foddiehub.jpeg" class="contact-img">

    <h2>Our Restaurant</h2>

    <p><strong>📍 Address:</strong> Hyderabad, India</p>
    <p><strong>📞 Phone:</strong> 9876543210</p>
    <p><strong>📧 Email:</strong> restaurant@gmail.com</p>

</div>