<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>

    <!-- IMPORTANT -->
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="form-container">

    <h2>Signup</h2>

    <form method="post">
        <input name="username" placeholder="Username" required>
        <input name="password" type="password" placeholder="Password" required>

        <button type="submit">Signup</button>
    </form>

    <br>
    <a href="/">Already have an account? Login</a>

</div>

</body>
</html>